@page {
    size: A4;

    @bottom-left {
        content: "Powered by CITROS";
        font-size: 12px;
        margin-left: 5mm;
        vertical-align: bottom;
        padding-bottom: 12px;
    }

    @bottom-right {
        content: counter(page);
        font-size: 12px;
        margin-right: 5mm;
        vertical-align: bottom;
        padding-bottom: 12px;
    }
}

table {
    border-collapse: collapse;
    width: 89%;
    margin-bottom: 20px;
    table-layout: fixed;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    font-size: 85%;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

th:first-child,
td:first-child {
    width: 5%;
}


body {
    font-family: "Times New Roman", Times, serif;
    background-color: #FFFFFF;
    margin: 40px auto;
}

header,
footer {
    text-align: center;
    margin-bottom: 5px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

p {
    line-height: 1.6;
    margin-bottom: 5px;
}

.jp-MarkdownOutput {
    font-family: "Times New Roman", Times, serif;
    /* font-size: 90%; */
}

.jp-OutputArea {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 89%;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    font-family: "Times New Roman", Times, serif;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

div {
    font-size: 90%;
}

img {
    width: 89%;
}